.archive_posts {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    @include md {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    &_items {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    &_item {
        flex-basis: 100%;
        box-shadow: 0 0 1.25rem #dddcdc;
        padding: 1.75rem 1rem;
        border: 1px solid #dddcdc;
        text-align: center;
        transition: .3s all;
        font-size: 1.25rem;
        line-height: 1.75rem;

        @include md {
            flex-basis: calc(50% - 1rem);
        }

        @include lg {
            flex-basis: calc(33% - 1.34rem);
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 2rem #dddcdc;
        }

        &_img {
            padding-bottom: 1.75rem;
        }

        &_title {
            margin-bottom: 1rem;
            font-size: 1.75rem;
            line-height: 2rem;

            &::before{
                display: none;
            }
        }

        &_contact {
            margin-top: .75rem;
            margin-bottom: .5rem;

            i {
                color: $secondry;
                display: inline-block;
                margin-right: .5rem;
            }

            a {
                color: $primary;
                transition: .3s all;

                &:hover {
                    color: $orange;
                }
            }

        }

        a.button {
            margin-top: 1.75rem;
        }
    }
}