.woocommerce {

    &-account {
        .woocommerce {
            padding: 3.75rem 1rem;

            @include lg {
                padding: 7.5rem 0;
            }
        }
    }

    &-MyAccount {
        &-navigation {
            ul {
                list-style: none;

                li {
                    padding: 1rem .75rem;
                    border-bottom: 1px solid $blue;
                    transition: .5s all;

                    a {
                        font-weight: bold;
                        color: $darkBlue;
                        transition: .5s all;
                    }

                    &.is-active {
                        background: $blue;

                        a {
                            color: $white;
                        }
                    }

                    &:hover {
                        background: $darkBlue;

                        a {
                            color: $white;
                        }
                    }
                }
            }

            &-link {
                &--downloads {
                    display: none;
                }
            }
        }

        &-content {
            padding: 1rem;

            p {
                padding-bottom: 1rem;
                font-size: 21px;
            }

            fieldset {
                margin-top: 1.875rem;
                margin-bottom: 1.875rem;
                padding: 1rem;

                form{
                    input{
                        padding: 1rem;
                    }
                }
            }

            form {

                button[type="submit"] {
                    display: block !important;
                    max-width: fit-content !important;
                    margin-top: 1.875rem;
                    margin-left: auto;
                }

                input[type="text"],
                input[type="tel"],
                input[type="email"],
                input[type="date"],
                textarea {
                    width: 100%;
                    font-size: 18px;
                    line-height: 26px;
                    padding: 8px 16px;
                    color: $darkBlue;
                    font-weight: bold;
                    font-family: $primaryFont;
                    outline: none;
                    border: 1px solid $darkBlue;
                    max-height: 150px;

                    &::placeholder {
                        color: $darkBlue;
                        font-weight: bold;
                        font-family: $primaryFont;
                    }
                }

                .select2-selection {
                    border-radius: 0;
                    border-color: $black;
                    height: auto;

                    &__rendered {
                        padding-top: 8px;
                        padding-bottom: 8px;
                    }

                    &__placeholder {
                        color: $darkBlue !important;
                        font-weight: bold;
                        font-size: 18px;
                    }
                }


            }
        }


    }

    &-info {
        padding: 1rem;
        border-top: none;

        &::before {
            display: none;
        }
    }

    &-notices-wrapper {
        display: none;
    }

    &-Button {
        float: none !important;
        display: block !important;
        max-width: fit-content;
        margin: 1.875rem auto !important;
    }

    &-Addresses {
        padding: 1.875rem 0;
    }
}