.header {
    position: relative;
    z-index: 99;

    &_top {
        position: relative;
        z-index: 99;

        &_wrap {
            padding: 29px 0;
            background: white;

            &.fixed {
                position: fixed;
                top: 0;
                z-index: 99;
                width: 100%;
                left: 0;
            }
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

    }

    &_logo {
        img {
            max-width: 100px;

            @include md {
                max-width: 200px;
            }
        }
    }

    &_menu {
        ul {
            padding: 0;
            margin: 0;

            li {
                display: inline-block;

                a {
                    color: $black;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    text-decoration: none;
                    transition: .3s all;
                    display: inline-block;
                    padding: .5rem;
                    padding-right: 2rem;

                    &:hover {
                        color: $yellow;
                    }
                }

                &.current_page_item a {
                    color: $yellow;
                }

                .sub-menu {
                    display: none;
                    position: absolute;
                    z-index: 99;
                    top: 100%;
                    left: 0;
                    width: 220px;

                    li {
                        background: $yellow;
                        margin-bottom: 7px;
                        width: 100%;
                        position: relative;
                        transition: .3s all;

                        a {
                            padding: 11px 17px;
                            width: 100%;
                            color: $black;
                            transition: .3s all;
                            font-size: 12px;
                            line-height: 14px;

                            &::after {
                                // display: none;
                            }

                        }

                        &:hover {
                            background: $black;

                            a {
                                color: $white;
                            }
                        }
                    }

                    .sub-menu {
                        transform: translateX(95%);
                        z-index: 1;
                        top: 0;

                        li {
                            a {
                                color: $black !important;
                            }

                            &:hover {
                                a {
                                    color: $white !important;
                                }
                            }

                            .sub-menu {
                                &.menu-item-has-children {
                                    position: relative;

                                    a {
                                        position: relative;
                                        padding-right: 1rem;

                                        &::after {
                                            font-family: "Font Awesome 5 Free";
                                            font-weight: 900;
                                            content: "\f054";
                                            display: inline-block !important;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }

                &.menu-item-has-children {
                    position: relative;

                    &>a {
                        position: relative;
                        padding-right: 2.5rem;

                        &::after {
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            content: "\f078";
                            position: absolute;
                            top: 50%;
                            right: 1rem;
                            line-height: calc(24px + 1rem);
                            transform: translateY(-50%);
                        }
                    }

                    .menu-item-has-children>a {
                        &::after {
                            content: "\f054";
                        }
                    }

                    &:hover {
                        &>.sub-menu {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    &_contact {
        a.button {
            padding-right: 64px;
            position: relative;

            span {
                position: absolute;
                top: 0;
                right: 0;
                background: $black;
                width: 63px;
                height: 63px;
                line-height: 63px;
                text-align: center;
                background: $black;
                display: inline-block;
                transform: skewX(-25deg) translateX(50%);

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 63px;
                    height: 63px;
                    line-height: 75px;
                    display: inline-block;
                    transform: skewX(25deg);
                    content: url('../svg/phone-btn.svg');
                }

            }
        }
    }
}

.mobile_menu {
    &_content {
        position: fixed;
        bottom: -110%;
        transition: .3s all;
        width: 100%;
        height: 100%;
        background: #f9f9f9;
        z-index: 99;

        &.show {
            bottom: 0;
        }

        #close {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: .3s all;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                padding: 16px 24px;
                border-bottom: 1px solid rgba(47, 47, 47, 0.1);

                a {
                    display: block;
                    text-decoration: none;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 15.13px;
                    color: $black;
                }

                .sub-menu {
                    max-height: 0;
                    overflow-y: hidden;
                    transition: max-height .5s ease-out;

                    li {
                        border-bottom: none;
                    }
                }

                &.menu-item-has-children {
                    position: relative;

                    &>a {
                        position: relative;

                        &::after {
                            position: absolute;
                            right: 16px;
                            top: 50%;
                            transform: translateY(-50%);
                            content: url('../svg/arrow.svg');
                            z-index: 999;
                        }
                    }



                }
            }
        }

        .header {
            &_search {
                padding: 8px 16px;
                background: #F3F3F3;
                position: relative;

                input[type=text] {
                    width: 100%;
                    padding: 14px 16px 15px 62px;
                    border-radius: 4px;
                    outline: none;
                    border: 1px solid rgba(49, 43, 48, 0.1);
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 14.32px;
                }

                input[type=image] {
                    position: absolute;
                    top: 50%;
                    left: 32px;
                    transform: translateY(-50%);
                }
            }
        }

    }

    &_button {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 99;


        svg {
            // display: none;
        }
    }
}

.page_header {
    position: relative;
    color: $white;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .53;
        z-index: 1;

    }

    h1 {
        font-size: 36px;
        line-height: 48px;
        font-weight: bold;
        text-align: center;
        position: relative;
        z-index: 1;
        padding: 48px 0;

        @include md {
            line-height: 200px;
            padding: 20px 0;
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;

        @include md {
            font-size: 72px;
            line-height: 412px;
        }
    }
}